@import "compass";

$grey:#ccc;
$width_nav:800px;

header{
	@include border-radius(5px);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(white, #ddd));
	width: 100%;
	margin:0px auto;
	@include clearfix;
	padding-bottom: 25px;

	h2{
		font-family: serif;
		font-size:30px;
		width:100%;
		text-align:center;
		font-style:italic;
		margin: 20px 0px;
		color:grey;
		text-shadow:0px 1px 0px #fff;
		letter-spacing: -0.05em
	}

	nav{
		width: $width_nav;
		@include clearfix;
		margin: 0px auto;

		ul{
			@include clearfix;
		}
	}

	a{
		font-family: 'Tahoma', sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: grey;
		letter-spacing: 0.05em;
		font-size: 1em;
		@include text-shadow(0px 1px 0px #fff);
		width: $width_nav/5;
		float: left;
		text-align: center;
		padding: 10px;
		margin-top: 10px;
		@include border-radius(3px);
		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(easy-in);
		z-index:99999;
		border-top: 1px transparent solid;

		&:hover{
			@include box-shadow(0px 0px 3px 0px #aaa);
			border-top:1px #eee solid;
			background: #d3d3d3;
			color: #fff;
			text-shadow:0px -1px 0px #aaa;
		}



	}
}