/* line 6, ../sass/style.scss */
header {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 25px;
}
/* line 15, ../sass/style.scss */
header h2 {
  font-family: serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-style: italic;
  margin: 20px 0px;
  color: grey;
  text-shadow: 0px 1px 0px #fff;
  letter-spacing: -0.05em;
}
/* line 27, ../sass/style.scss */
header nav {
  width: 800px;
  overflow: hidden;
  *zoom: 1;
  margin: 0px auto;
}
/* line 32, ../sass/style.scss */
header nav ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/style.scss */
header a {
  font-family: 'Tahoma', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: grey;
  letter-spacing: 0.05em;
  font-size: 1em;
  text-shadow: 0px 1px 0px white;
  width: 160px;
  float: left;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: easy-in;
  -moz-transition-timing-function: easy-in;
  -o-transition-timing-function: easy-in;
  transition-timing-function: easy-in;
  z-index: 99999;
  border-top: 1px transparent solid;
}
/* line 57, ../sass/style.scss */
header a:hover {
  -webkit-box-shadow: 0px 0px 3px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaaaaa;
  box-shadow: 0px 0px 3px 0px #aaaaaa;
  border-top: 1px #eee solid;
  background: #d3d3d3;
  color: #fff;
  text-shadow: 0px -1px 0px #aaa;
}
